@tailwind base;
@tailwind components;
@tailwind utilities;

.H1 {
    @apply text-6xl leading-[67px] font-bold
}

.H2 {
    @apply text-2xl leading-[28px] font-bold
}

.B1 {
    @apply text-xl leading-[24px] font-semibold
}

.B2 {
    @apply text-base leading-[19px] font-semibold
}

.P1 {
    @apply text-lg leading-[24px] font-medium
}

.P2 {
    @apply text-sm leading-[16px]
}

.card-blur{
    backdrop-filter: blur(5px);
}

.actions:hover > div{
    transform-origin: 0;
    animation: grow 500ms forwards ease;
}


 #how{
    background-image: url("../../public/Assets/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}